<div class="container">
    <div class="filter">
        <h2 class="filter-title">Filter</h2>
        <div class="fliter-items ">
            <div class="filter-price">
                <h5>Price:</h5>
                <div class="filter-price-input">
                    <input type="text" class="form-control small-form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                    <span class="separator">-</span>
                    <input type="text" class="form-control small-form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>

        </div>
        <div class="search">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>

    <div>

    </div>

</div>