<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper-container">
    <div class="filter">
        <h2 class="filter-title">Filter</h2>
        <div class="fliter-items ">
            <div class="filter-price">
                <h5>Price:</h5>
                <div class="filter-price-input">
                    <input type="text" class="form-control small-form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    <span class="separator">-</span>
                    <input type="text" class="form-control small-form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <br/>
            <div class="filter-dept">
                Dept:
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="search">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div class="display">
        <div class="row" *ngFor="let dept of faculties;">
            <div id="department" class="section-splitter"> {{dept.value}} </div>

            <div class="marketItemsArea">
                <div class="marketItem rcorners" *ngFor="let post of textbooks; let i = index">
                    <div class="marketItemLabel">
                        <span>${{post.price}}</span>
                    </div>
                    <div class="marketItemImg" style=" background-repeat: no-repeat;">
                        <div class="marketItemImg " [ngStyle]="{'background-image': 'url(' + post.imageUrl + ')'}" style="background-repeat: no-repeat; background-size:contain;">

                        </div>
                        <h5 class="marketItemName">{{post.textbookName}}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="endRow">
                <a href="#" class="button seeMore">
                    <i class="material-icons">
                        add
                    </i>
                </a>
            </div>
        </div>

        <div>
        </div>
    </div>
</div>