* {
    box-sizing: border-box;
}

html,
body, app-root {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Calibri";
    font-weight: 400;
    min-height: 100vh;
}

.marketItem {
    // padding-left: 40px;
    // padding-bottom: 40px;
    // display: inline-flex;
}

.marketItemInner {
    // width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #726d6d;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    ;
    &:hover {
        background-color: #fafafa;
        border-bottom-color: #32a1d0;
        ;
    }
}

.marketItemImg {
    position: relative;
    display: block;
    width: 100%;
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

user agent stylesheet html {
    color: -internal-root-color;
}

.filter {
    position: fixed;
    top: 50;
    left: 50;
    margin: 20px;
    border-radius: 10px;
    border: #f4f4f4 2px solid;
    width: 20%;
    background-color: #f4f4f400;
    // height: 100%;
    color: #696969;
    // box-shadow: 0px 5px 10px 3px #bdbdbd;
}

.display {
    position: absolute;
    // top: 0;
    right: 0;
    // background-color: #000;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}


.filter-title {
    text-align: center;
}

.small-form-control {
    width: 40%;
}

.fliter-items {
    padding: 10px;
}

.filter-price-input {
    display: inline-flex;
    margin: 0 auto;
    padding-left: 10px;
}

.separator {
    padding-left: 10px;
    padding-right: 10px;
}

h5 {
    font-size: 1rem;
}

.search {
    margin: 30px auto;
    text-align: center;
}

.marketItemLabel {
    position: relative;
    padding-left: 28px;
    font-size: 12px;
    font-weight: 300;
    color: #bfbfbf;
    &:before {
        top: 50%;
        left: 10px;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 50%;
    }
}

.wrapper-container {
    display: inline-flex;
    width: 100%;
}

.display {

}