* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Calibri";
    font-weight: 400;
}

.marketItem {
    width: 50%;
    padding-left: 40px;
    padding-bottom: 40px;
}

.marketItemInner {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    ;
    &:hover {
        background-color: #fafafa;
        border-bottom-color: #32a1d0;
        ;
    }
}

.marketItemImg {
    position: relative;
    display: block;
    width: 100%;
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

user agent stylesheet html {
    color: -internal-root-color;
}

.filter {
    width: 20%;
    background-color: #f4f4f4;
    height: 100%;
    overflow-y: auto;
    color: #696969;
    box-shadow: 0px 5px 10px 3px #bdbdbd;
}

.filter-title {
    text-align: center;
}

.small-form-control {
    width: 40%;
}

.fliter-items {
    padding: 10px;
}

.filter-price-input {
    display: inline-flex;
    margin: 0 auto;
    padding-left: 10px;
}

.separator {
    padding-left: 10px;
    padding-right: 10px;
}

h5 {
    font-size: 1rem;
}

.search {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.marketItemLabel {
    position: relative;
    padding-left: 28px;
    font-size: 12px;
    font-weight: 300;
    color: #bfbfbf;
    &:before {
        top: 50%;
        left: 10px;
        width: 8px;
        height: 8px;
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 50%;
    }
}

.wrapper-container {
    display: inline-flex;
}