<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper-container">
    <div class="filter">
        <h2 class="filter-title">Filter</h2>
        <div class="fliter-items ">
            <div class="filter-price">
                <h5>Price:</h5>
                <div class="filter-price-input">
                    <input type="text" class="form-control small-form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    <span class="separator">-</span>
                    <input type="text" class="form-control small-form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <br/>
            <div class="filter-dept">
                Dept:
                <select id="filterDept" class="custom-select" style="text-transform: uppercase;">
                    <option selected value="choose">Choose...</option>
                    <option *ngFor="let dept of faculties; let i = index" ngValue="dept.value" style="text-transform: uppercase;" >{{dept.value}}</option>
        
                  </select>
            </div>
        </div>
        <div class="search">
            <button class="btn btn-primary" style="margin-right: 5%;" (click)="reset()">Reset</button>
            <button class="btn btn-primary" style="margin-left: 5%;" (click)="sortByDept()">Search</button>
        </div>
    </div>
    <div class="display">
        <div class="row" *ngFor="let dept of facultiesDOM;">
            <div id="department" class="section-splitter"> {{dept.value}} </div>

            <div class="marketItemsArea">
                <div class="marketItem rcorners" [(ngModel)]="dept" *ngFor="let post of textbooksDOM; let i = index">
                    <div class="marketItemLabel">
                        <span>{{post.price}}</span>
                    </div>
                    <div class="marketItemImg" style=" background-repeat: no-repeat;">
                        <div class="marketItemImg " [ngStyle]="{'background-image': 'url(' + post.img_url + ')'}" style="background-repeat: no-repeat; background-size:contain;">

                        </div>
                        <h5 class="marketItemName">{{post.txt_book_name}}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="endRow">
                <a href="#" class="button seeMore">
                    <i class="material-icons">
                        add
                    </i>
                </a>
            </div>
        </div>

        <div>
        </div>
    </div>
</div>