<div id="body">
    <div class="container" id="container">
        <div class="form-container url-post-container">
        </div>
        <div class="form-container textbook-details-container">
            <!-- <div class="textbook-container"> -->
            <form id="textbook-form">
                <h1>Your Textbook</h1>
                <select id="filterDept" class="custom-select" style="text-transform: uppercase;">
                        <option selected value="choose">Choose the department</option>
                        <option *ngFor="let dept of faculties; let i = index" ngValue="dept.value" style="text-transform: uppercase;" >{{dept.value}}</option>
                </select>

                <select id="course" class="custom-select" style="text-transform: uppercase;">
                        <option selected value="choose">Choose the course</option>
                        <option *ngFor="let course of courses; let i = index" ngValue="course.value" style="text-transform: uppercase;" >{{course.value}}</option>
                    </select>

                <select id="chooseBook" class="custom-select" style="text-transform: uppercase;">
                        <option selected value="choose">Choose your Book</option>
                        <option *ngFor="let book of books; let i = index" ngValue="book" style="text-transform: uppercase;" >{{book.details}}</option>
                </select>

                <input type="number" placeholder="Price" id="price" required/>
                <button (click)="createTextbook()">Post it!</button>
            </form>
            <!-- </div> -->
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <div id="url-link-top-half">
                        <h3 id="urllink">Enter the picture URL</h3>
                        <input type="text" placeholder="URL" id="URL" required/>
                    </div>

                    <div id="desc-link-bottom-half">
                        <h3 id="description">Description of the book</h3>
                        <textarea placeholder="(OPTIONAL) Enter in a description regarding the book" id="description-info"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>