<div id="body">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
        </div>
        <div class="form-container sign-in-container">
            <div class="login-top-container">
                <form id="sign-in-form">
                    <h1>Your Textbook</h1>
                    <input type="text" placeholder="Textbook Name" id="textbookName" required/>
                    <input type="text" placeholder="Course" id="Course" required/>
                    <input type="number" placeholder="Price" id="Price" required/>
                    <select id="filterDept" class="custom-select" style="text-transform: uppercase;">
                        <option selected value="choose">Choose the department</option>
                        <option *ngFor="let dept of faculties; let i = index" ngValue="dept.value" style="text-transform: uppercase;" >{{dept.value}}</option>
                    </select>
                    <button>Post it!</button>
                </form>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h3 id="urllink">Enter a PIC URL link</h3>
                    <input type="text" placeholder="URL" id="URL" required/>

                </div>
            </div>
        </div>
    </div>
</div>