<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper-container">
    <div class="sideBar">
        <div class="addPost">
            <button routerLink="/add-post" class="animatedBtn addPostBtn">Add Activity</button>
        </div>

        <div class="filter">
            <h2 class="filter-title">Filter</h2>
            <div class="fliter-items ">
                <div class="filter-price">
                    <h5>Price:</h5>
                    <div class="filter-price-input">
                        <input type="text" class="form-control small-form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                        <span class="separator">-</span>
                        <input type="text" class="form-control small-form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <br />
                <div class="filter-dept">
                    Dept:
                    <select id="filterDept" class="custom-select" style="text-transform: uppercase;">
                        <option selected value="All">All</option>
                        <option *ngFor="let dept of faculties; let i = index" ngValue="dept.value"
                            style="text-transform: uppercase;">{{dept.value}}</option>

                    </select>
                </div>
            </div>
            <div class="search">
                <button class="btn btn-primary" style="margin-right: 5%;" (click)="reset()">Reset</button>
                <button class="btn btn-primary" style="margin-left: 5%;" (click)="sortByDept()">Search</button>
            </div>
        </div>
    </div>

    <div class="display" *ngIf="contentLoaded">
        <div class="activity-board">
            <h2 class='activity-title'>Activities</h2>
            <table class="activity-table">
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    <!-- <th>Description</th> -->
                    <!-- <th>Location</th> -->
                    <!-- <th>Price</th> -->
                </tr>
                <tr class="activity-row" *ngFor="let activity of result;">
                    <td rowspan="activity.values.length">{{activity.name}}</td>

                    <div class="activity-value-div" *ngFor="let item of activity.values" (click)="openModal(item)">
                        <tr class="activity-value-row">
                            <td> <span class="colored-dot"></span> </td>
                            <td>{{item.activity_title}}</td>
                        </tr>
                        <!-- <td>{{item.activity_description}}</td> -->
                    </div>
                </tr>
                    <!-- <td>{{activity.activity_timestamp.substring(11,16)}}</td> -->
                    <!-- <td><a href="#">{{activity.activity_title}}</a></td> -->
                    <!-- <td>{{activity.activity_description.substring(0, 30)}}...</td> -->
                    <!-- <td>{{activity.activity_location}}</td> -->
                    <!-- <td>{{activity.activity_price}}</td> -->
            </table>


        </div>



    </div>
</div>

<!-- Modal -->
<div class="modal" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="activityModalTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="activityModalDetails">
                <p class="activityModalDetailItem" id="activityModalLocation"><b>Where: </b> </p>
                <p class="activityModalDetailItem" id="activityModalTime"><b>When: </b> </p>
            </div>
            <b>Description</b> 
            <div id="activityModalDesc">

            </div>
        </div>
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <!-- </div> -->
      </div>
    </div>
  </div>