<div id="body">
    <div class="container" id="container">
        <div id="overlay">
            <div id="content">
                <div [@passwordWaitingChanged]="changingState" id="waitingActivation">
                    <form>
                        <h3>Please enter in your new password</h3>
                        <input type="text" placeholder="New password" id="password1" (input)="checkSamePasswords(password1)" required/>
                        <input type="text" placeholder="Confirm new password" id="password2" (input)="checkSamePasswords(password2)" required/>
                        <button (click)="changePassword()">Change Password</button>
                    </form>
                </div>

                <div [@passwordUpdateState]="savingState">
                    <div class="message">
                        <h2></h2>
                        <h3>Redirecting back to login in 5 seconds</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>