<div id="body">
    <div class="container" id="container">
        <div class="form-container activity-details-container">
            <form>
                <h1>New Activity</h1>
                <input type="text" placeholder="Activity Title" id="activityTitle" required/>

                <select id="filterDept" class="custom-select" style="text-transform: uppercase;">
                    <option selected value="choose">Department</option>
                    <option *ngFor="let dept of faculties; let i = index" ngValue="dept.value" style="text-transform: uppercase;" >{{dept.value}}</option>
                </select>

                <input type="number" placeholder="Entry Fee (Optional)" id="entryFee" />



                <textarea class="form-control" placeholder="Description of event" id="description" rows="6"></textarea>

                <button (click)="createActivity()">Submit</button>

            </form>

        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <input type="text" placeholder="Activity Date & Time" id="dateTime" />
                    <input type="text" placeholder="Activity Location" id="location" />

                </div>
            </div>
        </div>

    </div>

</div>

<!-- activities
id
poster_user_id
corresponding_department
activity_title
activity_description
activity-price
activity-location
activity-timestamp -->