.account-settings-heading {
    width: 564px;
    height: 96px;
    font-weight: 300;
    text-align: left;
    font-size: 45px;
    color: #8C8A8A;
}

.prompt {
    margin-bottom: 0px;
    color: #8C8A8A;
}

.settings-form {
    margin-top: 5%;
    margin-left: 5%;
}

.login-alert {
    margin-top: 2%;
    padding: 20px;
    background-color: #ff4d4d;
    color: white;
    width: fit-content;
    border-radius: 10px 10px 10px 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}