<div class="settings-form">
    <h1 class="account-settings-heading">Change Password </h1>
  
    <p class=prompt>Old Password</p>
    <mat-form-field>
      <input matInput type="password" (keyup.enter)="checkChangePassword()" id="oldPassword">
    </mat-form-field>

    <br><br>
  
    <p class=prompt>New Password</p>
    <mat-form-field>
      <input matInput type="password" (keyup.enter)="checkChangePassword()" id="newPassword">
    </mat-form-field>
  
    <br><br>
  
    <p class=prompt>Confirm Password</p>
    <mat-form-field>
      <input matInput type="password" (keyup.enter)="checkChangePassword()" id="confirmPassword">
    </mat-form-field>
  
    <br><br><br>
    <button mat-raised-button color="primary" (click)="checkChangePassword()"> Save </button>
    <button mat-raised-button color="warn" style="margin-left: 1rem;" (click)="cancelChanges()"> Cancel </button>
</div>
  