<!-- The video -->
<video autoplay muted loop id="backgroundVideo">
    <source src="https://www.sfu.ca/content/dam/sfu/main/homepage-background-video/flixels-spring-summer/Surrey-Galleria.mp4" type="video/mp4">
  </video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
    <h1>SFU Venture</h1>
    <p>Cry yourself into the next semester</p>
    <!-- Use a button to pause/play the video with JavaScript -->

    <button id="myBtn" class="navBtn animatedBtn" routerLink="/market">Visit Market</button>
</div>