<div id="body">
    <div class="container" id="container">
        <div id="overlay">
            <div id="content">
                <div class="top-container">
                    <form>
                        <h3>Please enter in your email used to create the account</h3>
                        <input type="email" placeholder="Email" required/>
                        <button (click)="sendResetRequest()">Send Email</button>
                    </form>
                </div>

                <div class="bottom-container">
                    <div class="alert">
                        <div class="message-content">
                            <span class="closebtn" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                            <div class="message"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>