table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.SpacedItem {
    margin-bottom: 2rem;
}

.viewReadingsButton {
    margin-bottom: 2rem;
}

#content-container {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

h1 {
    height: 96px;
    font-weight: 300;
    text-align: left;
    font-size: 45px;
    color: #8C8A8A;
    margin: 0;
}

h3 {
    height: 48px;
    font-weight: 150;
    text-align: left;
    font-size: 22.5px;
    color: #8C8A8A;
    margin: 0;
}